
.imgtext {
    color: #262f95;
    font-family: cursive;
  }

  .textlanguage {
    font-size: 20px;
    font-weight: bold;
    color: #262f95;
    margin-top: 15px;
  }

  .logintext {
    margin-top: 70px;
    font-weight: bold;
  }

  .passtext {
    font-weight: bold;
    font-size: 13px;
    color: #d91623;
  }
  .from {
    margin-top: 50px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
  }
  .input::placeholder {
    color: #00000080 50%;
  }

  button {
    background-color: #3a64f8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .card-img{
    width: 150px;
  }

  .accont {
    font-weight: bold;
    background-color: #fff;
    border: 1px solid rgb(184, 183, 183);
  }


  .login {
    font-weight: bold;
    background-color: #3a64f8;
  }
  a , span{
    color: black;
    font-weight: 500;
  }

  .submit-btn{
    display: flex;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 16px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
  }
  .fromsave {
    display: flex;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 16px;
    border-radius: 7px;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .rigisterLinkContainer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .rigisterLinkContainer a{
    color: #3a64f8;
  }
  .info {
    top: 10px;
    position: absolute;
    left: 20px;
  }
  .hidePasswordBtn{
    background-color: transparent;
    border: 0;
    color: #3a64f8;
    float: inline-end;
    font-weight: 500;
  }
  #google-btn{
    width: 100%;
  }

  h6 a{
    text-decoration: none;
    color: red;
    font-weight: bold;
  }


