@if (contentReady) {
<app-loading></app-loading>
}
<div class="container mt-4">
  <!-- <h1 class="text-center">Welcome in Evetat</h1> -->
  <div class="d-flex gap-4 justify-content-center">
    <!-- <button type="button" class="btn btn-primary" routerLink="/newEvent" routerLinkActive="router-link-active" >New Event</button> -->
    <!-- <button type="button" class="btn btn-primary">Scan QR Code</button> -->
    <!-- <button type="button" class="btn btn-primary" routerLink="/profile">Profile</button> -->
    <!-- <button type="button" class="btn btn-primary" routerLink="/home" (click)="logout()">Logout</button> -->
  </div>

  <div>
    <div class="container mt-4">
      <h1 class="text-center">Your Events</h1>
      <div class="row gap-3 justify-content-between mb-4">
        @if (dataIsHere) { @for (qr of displayedItems; track qr) {
        <div class="d-flex col-12 gap-3 p-2 cardContainer">
          <div class="card-body align-content-center">
            <h5 class="">{{ qr.event.name_en }}</h5>
            <!-- <h5 class="card-title">{{ qr.location }}</h5> -->
            <!-- <img src="{{qr}}" alt="" class="" style="width: 70px;height: 70px;"> -->
          </div>
          <button class="scan" (click)="goToQrCode(qr.event.id)">
            Show QR Codes
          </button>
        </div>
        }} @else{
        <div class="text-center">
          <h3 class="text-center">No Data Avaliable</h3>
          <img src="../../../assets/nodata.png" alt="no data avaliable" class="text-center" />
        </div>
        }
      </div>
      @if(dataIsHere){
      <mat-paginator
        [length]="allItems.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15, 20]"
        [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    }
    </div>
  </div>
</div>
