
.scan{
  padding: 0px 20px;
  border: 0;
  border-radius: 3px;
  background-color: #3a64f8;
  color: white;
}
.scan:hover{
  background-color: #3a64f8;
}
.cardContainer{
  background-color: lavender;
  border-radius: 5px;
}
h1{
  color: #3a64f8;
}
