@if (tokenExists) {
  <br>
  <h1 class="text-center">Thank You</h1>
  <br>
  <a
     class="text-decoration-none nav-link"
     routerLink="/qrcodescanner"
     >New Scan</a
>
}
@else{
  <div class="container mt-4" [className]="multi_use"]>
    <h1 class="text-center">Event Info</h1>
    <div>
      <p>Event Name: {{ name }}</p>
      <p>Location: {{ location }}</p>
      <p>Date: {{ date }}</p>
      <p>Ticket Type: {{ type }}</p>
      <p>Time: {{ time }}</p>
      @if (multi_use) {
      <p>Multi Use: true</p>
      }@else {
      <p>Multi Use: false</p>
      }
    </div>
  </div>

}

